<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Spring MyBatis整合 -->
	<!-- 1.配置数据库properties -->
	<context:property-placeholder
		location="classpath:jdbc.properties" />

	<!-- 2.数据库连接池 -->
	<bean id="dataSource"
		class="com.mchange.v2.c3p0.ComboPooledDataSource">

		<!-- 配置连接池 -->
		<property name="driverClass" value="${jdbc.driver}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />

	</bean>

	<!-- 3.配置SqlSessionFactory -->
	<bean id="sqlSessionFactory"
		class="org.mybatis.spring.SqlSessionFactoryBean">

		<!-- 注入数据库连接池 -->
		<property name="dataSource" ref="dataSource" />
		<!-- MyBaties配置文件 -->
		<property name="configLocation"
			value="classpath:mybatis-config.xml" />
		<!-- 扫描entity包 -->
		<property name="typeAliasesPackage"
			value="com.chinasoft.entity" />
		<!-- 扫描sql配置文件 -->
		<property name="mapperLocations"
			value="classpath:mapper/*.xml" />
	</bean>

	<!-- 4.扫描Dao接口 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">

		<!-- 注入sqlSessionFactory -->
		<property name="sqlSessionFactoryBeanName"
			value="sqlSessionFactory" />
		<!-- 扫描Dao接口包 -->
		<property name="basePackage" value="com.chinasoft.dao" />

	</bean>

</beans>